{% load static %}
<section id="about" class="container my-10">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="outline-about-1">
                <img class="img-about" src="{%  static './img/about-1.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 my-auto pl-6">
            <h6 class="section-sub">ABOUT US</h6>
            <h2 class="section-title-2">Interioris The Will of An Epoch Mextreo</h2>
            <p class="section-text">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form injected humour, or randomised words which don't look even slightly
                believable.If you are going to use a passage of Lorem Ipsum, sure
                there isn't anything embarrassing hidden the middleof text. All the Lorem Ipsum generators on
                the Internettend to repeat predefined chunks as necessary,making this the first true generator
                on the Internet.
            </p>
        </div>
    </div>
    <div class="row my-10">
        <div class="col-sm-12 col-md-6 my-auto pr-6">
            <h1 class="about-years">20</h1>
            <h2 class="section-title-3">Years Of Successful Working The Market</h2>
        </div>
        <div class="col-sm-12 col-md-6 pl-6  mb-order-1">
            <div class="outline-about-2">
                <img class="img-about" src="{% static './img/about-2.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>