{% extends 'base.html' %}
{% csrf_token %}
{% load static %}
{% block index %}

    <main>
        <a rel="stylesheet" href="{% static './css/helper.css' %}"></a>
        <a rel="stylesheet" href="{% static './css/style.css' %}"></a>
        <section id="home" class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 my-auto">
                    <h6 class="section-sub">Modern Interior</h6>
                    <h1 class="section-title-1">Create your interior design.</h1>
                    <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation.</p>
                </div>
                <div class="col-sm-12 col-md-6 desktop">
                    <div class="outline-home">
                        <img src="{% static './img/home.jpg' %}" class="img-home" alt="">
                    </div>
                </div>
            </div>
        </section>

        {% include 'ourservice.html' %}

        {% include 'aboutus.html' %}

        <section id="project" class="container-fluid my-6 bg-grey">
            <div class="container py-5">
                <div class="text-center">
                    <h2 class="section-title-2 mb-6 text-wrap">3000+ Completed Work Which WE have Successfully Done
                    </h2>
                </div>
                <div class="row center">
                    <div class="col-6 col-md-3 project-line right">
                        <div class="card card-project">
                            <div class="card-body text-center">
                                <div class="project-number">980</div>
                                <div class="project-text">Project</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 project-line left right">
                        <div class="card card-project">
                            <div class="card-body text-center">
                                <div class="project-number">520</div>
                                <div class="project-text">Happy client</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 project-line left right">
                        <div class="card card-project">
                            <div class="card-body text-center">
                                <div class="project-number">330</div>
                                <div class="project-text">winners</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 project-line left">
                        <div class="card card-project">
                            <div class="card-body text-center">
                                <div class="project-number">120</div>
                                <div class="project-text">recoment</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'testimonials.html' %}

        {% include 'latestnews.html' %}

        <section id="contact" class="container my-8">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="text-center">
                        <h2 class="section-title-2 text-spacing-md">DON’T FORGET TO SIGN UP</h2>
                        <hr class="contact-hr">
                        <p class="section-text mb-6">Find out early about all upcoming promotions and new product
                            releases with our newsletter.</p>
                            <div class="input-group subscribe">
                                <form action="{% url 'thanks_page' %}" method="POST" style="width: 100%;">
                                    {% csrf_token %}
                                <div>
                                    <label for="inputEmail3" class="subscribe">Name</label><br>
                                    {{ form.name }}
                                    <div class=""></div>
                                </div>
                                <div>
                                    <label for="inputPhone3" class="subscribe">Email</label><br>
                                    {{ form.email }}
                                    <div class=""></div>
                                </div>
                                <div>
                                    <label for="inputPhone3" class="subscribe">Phone</label><br>
                                    {{ form.phone }}
                                    <div class=""></div>
                                </div>
                                <div style="float: right;" class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit" >SEND ORDER</button>
                                </div>
                            </form>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
