{% extends 'base.html' %}
{% load static %}

{% block thanks %}
	<!-- thanks -->
  	<section>
		{% if name  %}
  		<div class="section-title-1">
  			<CENTER><h1>{{ name }}, Thanks for order!</h1>
				<a href="{% url 'home' %}">
					<button class="btn btn-outline-secondary" type="button">Back</button>
				</a>
			</CENTER>
  		</div>
		{% else %}
		<div class="section-title-1">
  			<CENTER><h1>Thanks!</h1>
				<a href="{% url 'home' %}">
					<button class="btn btn-outline-secondary" type="button">Back</button>
				</a>
			</CENTER>
  		</div>
		{% endif %}
		
  	</section>
  	<!-- thanks -->
{% endblock %}

